---
name: PR Labels

# yamllint disable-line rule:truthy
# zizmor: ignore[dangerous-triggers] - only has read permissions, no checkout
on:
  pull_request_target:
    types:
      - opened
      - labeled
      - unlabeled
      - synchronize

permissions:
  pull-requests: read

jobs:
  workflows:
    uses: hassio-addons/workflows/.github/workflows/pr-labels.yaml@main
